:root {
  --navbar-height: 60px;
  --general-font-size: 15px;
  --secondary-font-size: 13px;
  --detail-font-size: 12px;
  --title-font-size: 20px;
  --btn-font-size: 13px;
  --general-padding: 20px;
  --half-general-padding: calc(var(--general-padding) / 2);
  --width-scale: 70%;
  --vertical-width-scale: 90%;
}

body {
  background-color: rgb(250, 250, 250);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: var(--general-font-size);
  margin: 0;
}

.list::-webkit-scrollbar {
  width: 1px;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

#app {
  width: 100vw;
  height: 100vh;
}

#log-in {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#create-user {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-title {
  font-size: var(--title-font-size);
}

.form {
  background-color: white;
  width: 300px;
  height: 270px;
  border: solid .5px rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-item > div {
  padding: 5px;
}

.btn {
  padding: 0.2em 0.3em;
  border: solid 0.5px;
  border-radius: 3px;
  height: 1.5em;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: var(--btn-font-size);
}

.btn:hover {
  cursor: pointer;
}

#sign-in-email > div::after, 
#sign-in-password > div::after,
#sign-up-name > div::after,
#sign-up-email > div::after,
#sign-up-password > div::after {
  content: '*';
  color: red;
}


.warning {
  margin-top: 3px;
  color: red;
  font-size: .8em;
  display: flex;
}

.reminder {
  font-size: var(--detail-font-size);
  display: flex;
  flex-direction: column;
}

.reminder > a {
  text-decoration: underline;
}

#home {
  width: 100%;
  height: 100%;
}

#navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#navbar-content {
  width: var(--width-scale);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (orientation: portrait) {
  #navbar-content {
    width: var(--vertical-width-scale);
  }
}

#navbar-content > div {
  padding: var(--general-padding);
}

#hello {
  font-size: var(--title-font-size);
}

@media (max-width : 400px) {
  #hello {
    display: none;
  }
}

#options {
  width: 30%;
  min-width: 270px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width : 400px) {
  #options {
    width: 100%;
  }
}

#navs {
  width: 170px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#portfolio, #transactions {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-container {
  width: var(--width-scale);
  height: 100%;
}

@media (orientation: portrait) {
  .content-container {
    width: var(--vertical-width-scale);
  }
}

.title {
  font-size: var(--title-font-size);
  padding: var(--general-padding);
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

@media (orientation: portrait) {
  .content {
    flex-direction: column;
  }
}

.list {
  width: 50%;
  height: 80%;
  padding: var(--general-padding);
  margin-right: 50px;
  overflow-y: scroll;
}

@media (orientation: portrait) {
  .list {
    width: calc(100% - var(--general-padding) * 2);
    height: 100%;
    max-width: 95%;
    margin-right: 0;
    overflow-y: scroll;
  }
}

.list-item {
  margin-bottom: 30px;
  border-bottom: solid .5px rgb(200, 200, 200);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buy-shares {
  width: 50%;
  height: 80%;
  border-left: solid .5px rgb(180, 180, 180);
  padding: var(--general-padding);
  display : flex;
  flex-direction: column;
  align-items: center;
}

@media (orientation: portrait) {
  #buy-shares {
    width: calc(100% - var(--general-padding) * 2);
    border-left: 0;
    border-top: solid .5px rgb(180, 180, 180);
    padding-top: 10%;
  }
}

#buy-shares-form {
  margin: 20px;
  height: 200px;
}

#balance {
  font-size: var(--title-font-size);
}

.green {
  color: rgb(1, 165, 1);
}

.red {
  color: red;
}

.grey {
  color: grey;
}